main {
  flex-direction: column;
}

h2 {
  font-size: 3rem;
}

.product-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 500px;
}

.product-image {
  max-width: 300px;
  max-height: 300px;
  overflow: scroll
}

.product-image img {
  width: 100%;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60%;
}

.product-description p {
  font-size: 1.25rem;
  max-width: 70%;
}